/.venv
__pycache__

/indexes/collection/*
!/indexes/collection/.gitkeep
/tfboard_logs
WT2G
/proj2_sample_run/sparse_retrieval/indexes/collection/*
!/proj2_sample_run/sparse_retrieval/indexes/collection/.gitkeep
/proj2_sample_run/sparse_retrieval/runs/*
!/proj2_sample_run/sparse_retrieval/runs/.gitkeep
/runs/*
!/runs/bm25_params/.gitkeep
